# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.csredis.iml
# Datasource local storage ignored files
/../../../../../../../../:\Study\Owner\Github\csredis\.idea\.idea.csredis\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
